      
          <div class="filter-header challenge-filter-header">
            <div class="filterHeading">{{ landingJson.filter.filter_box_title }}</div>
            <div class="reset-container hover content-container" (click)="resetFilters($event)" ><div class="reset ">{{ landingJson.filter.reset_text }}<div class="reset-img "></div></div></div>
            <div class="reset-container hover standards-container display-none" (click)="resetStandardsFilters($event)" ><div class="reset ">{{ landingJson.filter.reset_text }}<div class="reset-img "></div></div></div>
           </div>
           <div class="filter-by" *ngIf="dataStyle =='standards'"  >{{ landingJson.filter.filter_header }}</div>
          
            <div class="filter-type" *ngIf="dataStyle =='standards'"   >
                <div class="filter-type-tab-left selected" id="contentMode" (click)="changeFilterMode('contentMode','standardMode')"><span class="filter-tab-text">Content</span></div>
                <div class="filter-type-tab-right" id="standardMode" (click)="changeFilterMode('standardMode','contentMode')"><span class="filter-tab-text">Standards</span></div>
            </div>
            <div class="resources-filter"  *ngIf="showResources =='true'" >
            {{ landingJson.filter.search_text.toUpperCase() }}
        </div>
        
        
        
          
           