<!DOCTYPE html>
<html lang="en" >
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title ><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" id="myviewport" content="initial-scale=1" >
  <!-- inject:css -->
  <link rel="stylesheet" href="css/main.css" >

  <!-- endinject -->
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script src="js/jquery-1.12.4.js"></script>
  <script src="js/jquery-ui.js"></script>
    <script src="js/cas/queue-min.js"></script>
    <script src="js/cas/annotations-service.min.js"></script>
    <script src="js/cas/custom-cas.js"></script> 
    <script src="js/perfect-scrollbar.js"></script>
    
</head>
<body style="overflow-y:auto; height:100%;">

  <mx-dmc  relativeUrl="">Loading...</mx-dmc>

  <script>
    



  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script>
    System.config(<%=
      JSON.stringify(SYSTEM_CONFIG, null, 2)
    %>)
  </script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
        'Report this error at https://github.com/mgechev/angular2-seed/issues');
    });
  </script>
  <% } %>

</body>
</html>
