<div class="main-container blue-bg">
<div class="listing-container">
  <header-component [pageTitle]=title [background]=backgroundColor (showMoreInfo)="commonClass.showMoreInfo(moreInfo)"></header-component>  
  <div class="teacher-container display-none "  >
      <div class="topnav-container">
        <div class="pagination prev disabled" (click)="changePage($event,'prev')">< Previous</div>  
        <div class="count-items">{{startCount}} - {{totalCount}} of {{itemsPlanning}} items</div>   
        <div class="pagination next disabled" (click)="changePage($event,'next')">Next ></div>              
    </div>
    
     
     <div class="planning-guide-container" style="height:auto">
    
        <div class="wide-tiles-container math-reader-tiles-container planning-guide-left-container">
          <div *ngFor="let contentList of filter.planningguideleft let i = index; " class="wide-tile wide-tile-planning {{'Page' + Math.floor(i / 10)}}" [ngClass]="{'display-none': i >9 }">
          
            <div class="tile-data"  >
             <!-- <span>{{'Page' + Math.floor(i / 10)}}</span>-->
                <p class="disp-title-row fluency-disp-title-row">{{contentList.component}}</p>
                <p class="disp-title-desc-row fluency-title-desc-row" (click)="tileClickEvent($event,contentList.relative_url)">{{contentList.display_title}}</p>
                 <div id="desc-text" style="margin-top:9px;width:489px">{{ contentList.meaningful_description | truncate : [truncateValue]}}</div>
                  <div id="desc-text-detail" class="display-none desc-mathreader" >{{ contentList.meaningful_description}}</div>
                 <span class="reader-dropdpwn"  id="tilearrows{{i}}"  (click)="dropdownArrowClick($event)"></span>
            </div>
            </div>
      </div>
      
        <div class="wide-tiles-container math-reader-tiles-container planning-guide-right-container"  style="margin-left:32px!important">
          <div *ngFor="let contentList of filter.planningguideright let i = index;" class="wide-tile wide-tile-planning {{'Page' + Math.floor(i / 10)}}" [ngClass]="{'display-none': i >9 }">
         
            <div class="tile-data" >
             <!-- <span>{{'Page' + Math.floor(i / 10)}}</span>-->
                <p class="disp-title-row fluency-disp-title-row">{{contentList.component}}</p>
                <p class="disp-title-desc-row fluency-title-desc-row" (click)="tileClickEvent($event,contentList.relative_url)">{{contentList.display_title}}</p>
                 <div id="desc-text" style="margin-top:9px;width:489px">{{ contentList.meaningful_description | truncate : [truncateValue]}}</div>
                  <div id="desc-text-detail-desc" class="display-none desc-mathreader" >{{ contentList.meaningful_description}}</div>
                 <span class="reader-dropdpwn" id="tilearrow{{i}}"   (click)="dropdownArrowClick($event)"></span>
            </div>
            </div>
      </div>
</div>
   </div>
    
            
            
   </div>
    <footer-component> </footer-component>
</div>
<div id="popup" class="popup display-none" (click)="commonClass.closePopup()">        
</div> 
<div class="popup-div display-none"> 
    <div class="popup-message"></div>           
    <div class="close-popup-button set-bottom-border" (click)="commonClass.closePopup()">
        <div class="close-popup-text">Ok</div>
    </div>
</div>
<div id="moreInfo" class="moreInfo-popup display-none" (click)="commonClass.closePopup()">        
</div> 
<div class="moreInfo-popup-div display-none"> 
    <div class="moreInfo-popup-message-wrapper">
        <div class="moreInfoTitle">{{title}}</div>
        <div class="moreInfo-popup-message"></div>  
    </div>          
    <div class="moreInfo-close-popup-button set-bottom-border" (click)="commonClass.closePopup()">
        <div class="close-popup-text">Ok</div>
    </div>
</div>