<div *ngIf="dataStyle =='row'" class="wideTileWrapper">
<div #elem  *ngFor="let contentList of filter; let i = index"  [ngStyle]="{'border-left': '20px solid #fff','border-color':contentList.component=='boards-blacklinemaster'?blackLineColor:borderColor}" class="wide-tile wide-tile-width tile-challenge {{ tileType + Math.floor(i / 20)}}"  [ngClass]="{'display-none': i >19 }"  >
    <div class="tile-data" > 
        <span class="tile-details" *ngIf="enableBreadcrumbUnit =='yes'" >{{ getUnit(contentList.HMH_ID)}}</span>
        <span class="tile-arrows" *ngIf="enableBreadcrumbBigIdea =='yes'"> </span>
        <span class="tile-details" *ngIf="enableBreadcrumbBigIdea =='yes'">{{ contentList.bigidea}}</span>
        <span class="tile-arrows" *ngIf="enableBreadcrumbLesson=='yes'"> </span>  
        <span class="tile-details" *ngIf="enableBreadcrumbLesson =='yes'">{{ getLesson(contentList.HMH_ID)}}</span>                         
        <div></div>  
        
        <div *ngIf="tileType=='standardsPage'">
            <span  *ngIf="searchList.length == 0"></span>                   
                                    
            <div *ngFor="let filters of searchList; let i = index" class="parentFilter empty_{{setBoolean(contentList.standards,filters)}}" >
                
                <div class="filters-tile tile-breadcrumb">
                        <div *ngIf="setBoolean(contentList.standards,filters)" class="filterBox filterBox-tile">
                        <div class="filters">{{filters}}</div>
                        
                    </div>
                </div>
            </div>
        </div>              
                     
        <p class="disp-title-row fluency-disp-title-row"    >{{contentList.component_type}}</p>
        <div class="disp-text-url" (click)="tileClickEvent(contentList.component == 'Fluency'?contentList.HMH_ID:contentList.relative_url)">
            <div class="disp-title-desc-row fluency-title-desc-row">{{contentList.display_title}}</div>
        </div>
        <div id="desc-text">{{ contentList.meaningful_description | truncate : [truncateValue]}}</div>
        <div id="desc-text-detail" class="display-none">{{ contentList.meaningful_description}}</div>
        <span class="tile-arrow" id="tilearrow{{i}}" (click)="dropdownArrowClick($event)"></span>
    </div>
</div>
</div>
<div *ngIf="dataStyle =='column'" class="wideTileWrapper">
    <div class="main-container-mathreader" >
        <div class="wide-tiles-container math-reader-tiles-container left-container">
            <div #elem *ngFor="let contentList of filterLeft let i = index; " [ngStyle]="{'border-left': '20px solid #fff','border-color':contentList.component=='ibt-blacklinemaster'?blackLineColor:borderColor}" class="wide-tile wide-tile-mathreader" >
                <div class="tile-data"  >
                    <p class="unit-tile-title">{{contentList.display_title.split(":")[0]}}</p>
                    <p class="disp-title-row fluency-disp-title-row">{{contentList.component_type}}</p>
                    <p class="disp-title-desc-row hover fluency-title-desc-row" (click)="tileClickEvent(contentList.relative_url)">{{contentList.display_title.split(":")[1]}}</p>
                    <div id="desc-text" style="margin-top:9px;width:475px">{{ contentList.meaningful_description | truncate : [truncateValue]}}</div>
                    <div id="desc-text-detail " class="display-none desc-mathreader" >{{ contentList.meaningful_description}}</div>
                    <span class="reader-dropdpwn"  id="tilearrows{{i}}" (click)="dropdownArrowClick($event)"></span>
                </div>
            </div>
        </div>
        
        <div class="wide-tiles-container math-reader-tiles-container right-container">
            <div #elem  [ngStyle]="{'border-left': '20px solid #fff','border-color':contentList.component=='ibt-blacklinemaster'?blackLineColor:borderColor}" class="wide-tile wide-tile-mathreader" *ngFor="let contentList of filterRight let i = index;">
                <div class="tile-data" >
                    <p class="unit-tile-title">{{contentList.display_title.split(":")[0]}}</p>
                    <p class="disp-title-row fluency-disp-title-row">{{contentList.component_type}}</p>
                    <p class="disp-title-desc-row hoverfluency-title-desc-row" (click)="tileClickEvent(contentList.relative_url)">{{contentList.display_title.split(":")[1]}}</p>
                    <div id="desc-text" style="margin-top:9px;width:475px">{{ contentList.meaningful_description | truncate :  [truncateValue]}}</div>
                    <div id="desc-text-detail-desc " class="display-none desc-mathreader "  >{{ contentList.meaningful_description}}</div>
                    <span class="reader-dropdpwn" id="tilearrow{{i}}" (click)="dropdownArrowClick($event)"></span>
                </div>
            </div>
        </div>
    </div>
</div>