<div class="main-container blue-bg practice">
<div class="listing-container">
      <header-component [pageTitle]=title [background]=backgroundColor [lessonTitle]=lessonTitle [unitTitle] = unitTitle (placeItem)="clickOnItem($event)" (unitItem)="showUnitItem($event)" (showMoreInfo)="commonClass.showMoreInfo(moreInfo)"></header-component>
        <div class="student-container student-units-container display-none ">
             <div class="unit-container">
            <div #unit class="block-tile" [ngStyle]="{'background-color': tileBorderColor }" *ngFor="let contentList of units; let i = index" id="{{setId(units[i])}}" (click)="unitTileClickEvent($event, unit.id)" [ngClass]="{'set-lesson-text-style': tileTitle == 'Lesson' }" (mousedown)="clickActive($event,unit.id)" (mouseout)="clickInactive($event,unit.id)" (mouseup)="clickInactive($event,unit.id)" (touchstart)="clickActive($event,unit.id)" (touchend)="clickInactive($event,unit.id)">
                <div class="unit-tile-wrapper" [ngStyle]="{'background-color': studentBorderColor }">
                    <div id="unit-text" class="unit-title font-white font-bold lesson-unit-text" [ngClass]="{'wide-text': contentList.split(tileTitle)[1] > 9}">{{tileTitle}}</div>
                    <div class="lesson-unit-counter font-white font-bold">{{contentList.split(tileTitle)[1]}}</div>
                </div>
            </div>
            </div>
        </div>
        
        <div class=" student-lessons-container student-units-container display-none">
             <div class="unit-container">
           <div #work id="worksheet2" class="block-tile worksheet" [ngStyle]="{'background-color': tileBorderColor }" (click)="tileClickEventStudent($event, urls)" (mousedown)="clickActive($event,work.id)" (mouseout)="clickInactive($event,work.id)" (mouseup)="clickInactive($event,work.id)" (touchstart)="clickActive($event,work.id)" (touchend)="clickInactive($event,work.id)">
            <div class="unit-tile-wrapper" [ngStyle]="{'background-color': studentBorderColor }">                   
                   <div id="unit-text" class="unit-title font-white font-bold worksheet-lesson-unit-text">{{title.split(title.split("Lesson")[1])[0]}}</div>  
                   <div class="lesson-unit-counter font-white font-bold counter">{{title.split("Lesson")[1]}}</div>
                   <div class="lesson-unit-worksheet font-white font-bold">{{worksheet_text}}</div>                
                </div>
            </div>
            </div>
        </div>
  
  <div class="teacher-container display-none">
     <div class="topnav-container content-count-container ">
        <div class="pagination prev disabled" (click)="changePage($event,'prev','content')">< {{previous_text}}</div>  
        <div class="count-items">{{startCount}} - {{totalCount}} of  {{itemsPractice}} {{items_text}}</div>         
        <div class="pagination next" (click)="changePage($event,'next','content')">{{next_text}} ></div>              
     </div>
     
     <div class="topnav-container standards-count-container display-none">
        <div class="pagination prev-standards disabled" (click)="standardsChangePage($event,'prev','standards')">< {{previous_text}}</div>         
        <div class="count-items">{{ standardsStartCount }} - {{ standardsEndCount }} of  {{ standardsTotalCount }} {{items_text}}</div>   
        <div class="pagination next-standards" (click)="standardsChangePage($event,'next','standards')">{{next_text}} ></div>              
     </div>
    
 
    <div class="listing-container">
            <div class="filters-container">
          <filterby [dataStyle] ="'standards'" [showResources] ="'true'" [landingJson]= landingJson (resetFilter)="resetFilters($event)"  (resetStandardFilter)="resetStandardsFilters($event)" (changeFilterModes)="changeFilterMode($event)"></filterby>
           <div class="customDropDown filter-dropdown">
                <div class="dropdown">
                     <div class="dropbtn filter-drps " id="dropdown1" #dropDown1 (click)="toggleDropDown($event,'UnitDropdown',['LessonDropdown','BigIdeaDropdown'])"><div id="unit-text-dropdown" class="filter-Text" data-dpo="dropdown" >{{select_unit_text}}</div><div class="dropdown-arrow dropdown-down-arrow"></div></div>

                    <div class="dropdown-content   drpdwn-filter-content unit-filter-dropdown"  id="UnitDropdown">
                        <div #elem9 class="dDown_content unit-filter-dDown_content hover"  *ngFor="let unitVal of units ; #index = index"   (click)="unitDropDownEvent($event)"><div class="dropdown-text">{{unitVal}}</div></div>
                    </div>
                </div>
            </div>
             <div class="customDropDown filter-dropdown">
                <div class="dropdown">
                    <div class="dropbtn filter-drps bigidea-filter-dropdown disabled-dropdown" id="dropdown3" #dropDown3 (click)="toggleDropDown($event,'BigIdeaDropdown',['UnitDropdown','LessonDropdown'])"><div id="bigIdea-text" class="filter-Text" data-dpo="dropdown">{{select_bigidea_text}}</div><div class="dropdown-arrow dropdown-down-arrow"></div></div>
                    <div class="dropdown-content drpdwn-filter-content bigidea-filter-dDown_content" id="BigIdeaDropdown" (click)="bigIdeaDropDownEvent($event)">
                    </div>
                </div>
            </div>
            
                   <div class=" customDropDown filter-dropdown"  >
                <div class="dropdown " >
                    <div class="dropbtn filter-drps lesson-filter-dropdown disabled-dropdown" id="dropdown2" #dropDown2  (click)="toggleDropDown($event,'LessonDropdown',['UnitDropdown','BigIdeaDropdown'])" ><div  id="lesson-text" class="filter-Text " data-dpo="dropdown" ><i>{{select_lesson_text}}</i></div><div class="dropdown-arrow dropdown-down-arrow"></div></div>
                    <div class="dropdown-content  drpdwn-filter-content lesson-filter-dDown_content" id="LessonDropdown" (click)="lessonDropDownEvent($event)">
                      
                    </div>
                </div>
            </div>
            
             <div class="standard-wrapper display-none" >
                <div class="filter-component-Text standards-div" ><div>{{standards_text}}</div>  </div>
                    <div (click)="openStandards($event)" class="standards standards-div">{{select_new_standards}}</div>
                    <div (click)="openStandards($event)" class="search-standards-arrow search-standards standards-div"></div>
                
                    <div *ngFor="let searchList of searchList;let i =index" >
                        <div class="search-list-standards" id="standards-list-{{i}}" data-dpo="list">{{searchList}}<div class="search-list-arrow search-list" (click)="removeFilters(i)" ></div></div>
                    </div>
            </div>
            
                 <div class="filter-component-Text" ><div>{{edition_text}}</div></div>
            <form class="checkbox-filter content-container">
                <div class="checkbox-filter-row"><div #checkBox1 type="checkbox" id ="teacher" data-dpo="checkbox" class="checkboxGroupElem" value="Practice" (click)="checkBoxEvent($event)"></div><div class="checkbox-filter-text">{{teacher_text}}</div></div>
                <div class="checkbox-filter-row"><div #checkBox2 type="checkbox" id ="student" data-dpo="checkbox" class="checkboxGroupElem" value="Reteach" (click)="checkBoxEvent($event)"></div><div class="checkbox-filter-text">{{student_text}}</div></div>
                <div class="checkbox-filter-row" style="opacity:.5;pointer-events:none; display:none"><div #checkBox2 type="checkbox" id ="gameboards" class="checkboxGroupElem" value="Reteach" data-dpo ="checkbox" ></div><div class="checkbox-filter-text"><i>{{interactive_comming_soon_text}}</i></div></div>
            </form>

                  <form class="checkbox-filter standards-container display-none">
                <div class="checkbox-filter-row"><div #checkBox1 type="checkbox" id ="teacher-standards" data-dpo="checkbox" class="checkboxGroupElemStandards" value="Practice" (click)="checkBoxStandardEvent($event)"></div><div class="checkbox-filter-text-standards">{{teacher_text}}</div></div>
                <div class="checkbox-filter-row"><div #checkBox2 type="checkbox" id ="student-standards" data-dpo="checkbox" class="checkboxGroupElemStandards" value="Reteach" (click)="checkBoxStandardEvent($event)"></div><div class="checkbox-filter-text-standards">{{student_text}}</div></div>
                <div class="checkbox-filter-row" style="opacity:.5;pointer-events:none;display:none"><div #checkBox2 type="checkbox" id ="gameboards" class="checkboxGroupElemStandards" value="Reteach" data-dpo="checkbox"></div><div class="checkbox-filter-text-standards"><i>{{interactive_comming_soon_text}}</i></div></div>
            </form>

         
          
            </div>
        
        
<div id="standards" class="wide-tiles-container wide-tile-games-container standards-container display-none">
<div class="results-not-found display-none">{{results_not_found}}</div>
                   <wide-tile  [enableBreadcrumbUnit] = "'yes'" [enableBreadcrumbLesson] = "'yes'" [enableBreadcrumbBigIdea] = "'yes'" [dataStyle] ="'row'" [tileType] = "'standardsPage'" [filter] = filter.standards [borderColor] = tileColor [searchList] = searchList (wideTileClick)="tileClickEvent($event)"></wide-tile>
       
    </div>
        <div class="wide-tiles-container wide-tile-games-container content-container">
            <wide-tile  [enableBreadcrumbUnit] = "'yes'" [enableBreadcrumbLesson] = "'yes'" [enableBreadcrumbBigIdea] = "'yes'"  [dataStyle] ="'row'" [tileType] = "'Page'" [filter] = filter.challenge [borderColor] = tileColor (wideTileClick)="tileClickEvent($event)" ></wide-tile>
    </div>
 
    </div>
    
</div>
</div>
<dmc-popup [dataStyle] ="'standards'"  [infoTitle]=title [stdJson]=standardsJson (removeselectStandardsList)="selectStandards($event)" (hideStandardsPoup)="hideStandardes()" (removeSelectionStandards)="removeSelection($event)" (showResultStandards)="showResult()"  [filterStdItem]=filterStdArray [stdCategory] =standardCategory  [common] =commonJson  [dataStandards] =standardsData> </dmc-popup>
    <footer-component> </footer-component>
</div>
