<div class="main-container blue-bg search-results">
  <div class="listing-container">
    <header-component [pageTitle]=title></header-component>
    <div class="teacher-container ">
        <div class="topnav-container">
            <div class="pagination prev disabled" (click)="changePage($event,'prev')">< {{previous_text}}</div>  
            <div class="count-items">{{startCount}} - {{totalCount}} of {{items}} {{items_text}}</div>   
            <div class="pagination next" (click)="changePage($event,'next')">{{next_text}} ></div>              
        </div>
        <div class="listing-container">
          <div class="filters-container go-result-filters-container ">
            <div class="filter-header go-result-filter-header">
              <div class="filterHeading">{{filter_text}}</div>
              <div class="reset-container" (click)="resetFilters()">
                <div class="reset">{{reset_text}}
                  <div class="reset-img"></div>
                </div>
              </div>
              
            </div>
            <div class="resources-filter">
                {{show_resources_for}}
              </div>
            <div class="customDropDown filter-dropdown">
              <div class="dropdown">
                <div class="dropbtn filter-drps" id="dropdown1" #dropDown1 (click)="toggleDropDown($event,'UnitDropdown',['LessonDropdown'])">
                  <div id="unit-text" class="filter-Text">{{select_unit_text}}</div><div class="dropdown-arrow dropdown-down-arrow"></div>                  
                </div>
                <div class="dropdown-content drpdwn-filter-content unit-filter-dropdown" id="UnitDropdown">
                  <div type="" #elem9 class="dDown_content unit-filter-dDown_content"  *ngFor="let unitVal of unitArray; #index = index; let i = index"   (click)="unitDropDownEvent($event)">
                    <div class="dropdown-text" id="{{'unit'+i}}">{{unitVal}}</div></div>
                </div>
              </div>
            </div>

            <div class=" customDropDown filter-dropdown">
              <div class="dropdown ">
                <div class="dropbtn filter-drps lesson-filter-dropdown" id="dropdown2" #dropDown2 (click)="toggleDropDown($event,'LessonDropdown',['UnitDropdown','BigIdeaDropdown'])">
                  <div id="lesson-text" class="filter-Text "><i>{{select_lesson_text}}</i></div>
                  <div class="dropdown-arrow dropdown-down-arrow"></div>
                </div>
                <div class="dropdown-content drpdwn-filter-content  lesson-filter-dDown_content" id="LessonDropdown">

                </div>
              </div>
            </div>
             <div class="filter-component-Text" ><div>{{type_text}}</div></div>
            <div class="gradeText" *ngFor="let gradeVal of displayGrade">
              <div>Grade {{gradeVal}}</div>
            </div>
            <form class="checkbox-filter" >
              <div class="checkbox-filter-row" *ngFor="let value of teacherLandingData; #index = index; let i = index"   [ngClass]="{'display-none': value.routeKey =='planningguide' || value.remove=='yes' ,'disabled-checkbox':  value.enable==false}"    >
                <div #checkBox1 type="checkbox" id="{{value.routeKey}}" class="checkboxGroupElem" data-dpo ="checkbox"  (click)="checkBoxEvent($event)"></div>
                <div class="checkbox-filter-text">{{value.results_title}}</div>
                </div>
            </form>

          </div>
          <div class="wide-tiles-container wide-tile-games-container">
           
              <div class="results-not-found display-none">{{results_not_found}}</div>
              <div #elem  *ngFor="let contentList of filteredData ; let i = index"  class="wide-tile goresult-wide-tile  {{'Page' + Math.floor(i / 20)}}"    [ngClass]=
"contentList.component != 'Fluency' ? contentList.component=='ibt-blacklinemaster'?'master-tile':contentList.component_type + '-tile' : 'Check-tile'"  [ngClass]="{'display-none': i > 19 }">
                <div class="tile-data">
                  <span class="tile-breadcrumb-unit tile-breadcrumb">{{getUnit(contentList.HMH_ID)}}</span>
                  <span class="tile-breadcrumb-arrow tile-breadcrumb">></span>
                  <span class="tile-breadcrumb-lessons tile-breadcrumb">{{getLesson(contentList.HMH_ID)}}</span>
                  <p class="disp-title-row fluency-disp-title-row">{{contentList.component_type}}</p>
                  <p class="disp-title-desc-row"  (click)="tileClickEvent($event,contentList.relative_url,contentList.HMH_ID,contentList.component_type)"> {{contentList.display_title}}</p>
                  <p id="desc-text">{{contentList.meaningful_description  | truncate : [truncateValue]}}</p>
                  <div id="desc-text-detail" class="display-none">{{ contentList.meaningful_description}}</div>
                  <span id="tilearrow{{i}}"  class="dropdown-arrow dropdown-down-arrow fluency-dropdpwn" (click)="dropdownArrowClick($event)"></span>
                </div>
              </div>
          </div>
     
         


        

      
        </div>
      </div>
  </div>

   <div id="modal" class="modal display-none">
        <div class="inner_div">
            <div style='height:26px;background:#999'></div>
            <iframe id="content" scrolling="no" style="-webkit-overflow-scrolling:touch;"src="about:blank"></iframe>
            <div class="close" (click)="close()">
            </div>
        </div>
    </div>
    
    <footer-component> </footer-component>
</div>
<div id="popup" class="popup display-none" (click)="commonClass.closePopup()">        
</div> 
<div class="popup-div display-none"> 
    <div class="popup-message"></div>           
    <div class="close-popup-button set-bottom-border" (click)="commonClass.closePopup()">
        <div class="close-popup-text">Ok</div>
    </div>

</div>
<!--
<div id="moreInfo" class="moreInfo-popup display-none" (click)="commonClass.closePopup()">        
</div> 
<div class="moreInfo-popup-div display-none"> 
    <div class="moreInfo-popup-message-wrapper">
        <div class="moreInfoTitle">{{title}}</div>
        <div class="moreInfo-popup-message"></div>  
    </div>          
    <div class="moreInfo-close-popup-button set-bottom-border" (click)="commonClass.closePopup()">
        <div class="close-popup-text">OK</div>
    </div>
</div>-->