<div class="main-container blue-bg" >
<div class="listing-container">
     
        <header-component [pageTitle]=title [background]=backgroundColor (showMoreInfo)="commonClass.showMoreInfo(moreInfo)"></header-component>
  
  <div class="student-container student-units-container display-none">
        <div class="unit-container">
            <div #tile class="block-tile fluency-tile" [ngStyle]="{'background-color': tileBorderColor }" *ngFor="let contentList of filter.fluency; let i = index" id="{{'tile'+i}}" (click)="tileClickEventStudent($event,contentList.HMH_ID)" (mousedown)="clickActive($event,tile.id)" (mouseout)="clickInactive($event,tile.id)" (mouseup)="clickInactive($event,tile.id)" (touchstart)="clickActive($event,tile.id)" (touchend)="clickInactive($event,tile.id)">
                <div class="unit-tile-wrapper fluency-tile-wrapper" [ngStyle]="{'background-color': tile_Color }">
                    <div id="unit-text" class="unit-title font-white font-bold"><span class="unit-content">{{contentList.display_title.split("-")[0]}}</span></div>
                    <span class="font-white font-bold level-text">{{contentList.display_title.split("-")[1]}}</span>
                </div>
            </div>
            </div>
        </div>
  
  <div class="teacher-container display-none">
   
                <div class="topnav-container">
        <div class="pagination prev disabled" (click)="changePage($event,'prev')">< {{previous_text}}</div>  
        <div class="count-items">{{startCount}} - {{totalCount}} of  {{itemsFluency}} {{items_text}}</div>   
        <div class="pagination next" (click)="changePage($event,'next')">{{next_text}} ></div>              
    </div>
    
    
 
    <div class="listing-container" style="margin-top:40px;">
        <div class="filters-container">
             
             <filterby  [landingJson]= landingJson (resetFilter)="resetFilters($event)"  ></filterby>
           
       <div class="filter-components-Text" ><div>{{type_text}}</div></div>
            <form class="checkbox-filter">
                <div class="checkbox-filter-row"><div #checkBox1 type="checkbox" id ="checks" class="checkboxGroupElem" value="Practice" (click)="checkBoxEvent($event)" data-dpo ="checkbox"></div><div class="checkbox-filter-text" >{{fluency_checks}}</div></div>
                <div class="checkbox-filter-row"><div #checkBox2 type="checkbox" id ="practice" class="checkboxGroupElem" value="Reteach" (click)="checkBoxEvent($event)" data-dpo ="checkbox"></div><div class="checkbox-filter-text" >{{fluency_practice}}</div></div>
            </form>
          
        </div>
         <div class="wide-tiles-container wide-tile-games-container content-container">
         <wide-tile  [enableBreadcrumb] = "'no'" [showResources]="'false'" [dataStyle] ="'row'" [tileType] = "'Page'" [filter] = filter.fluency [borderColor] = tileColor (wideTileClick)="tileClickEvent($event)" ></wide-tile>
</div>
</div>
 <div id="modal" class="modal display-none">
        <div class="inner_div">
            <div style='height:26px;background:#999'></div>
            <iframe id="content" scrolling="no" style="-webkit-overflow-scrolling:touch;"src="about:blank"></iframe>
            <div class="close" (click)="close()">
            </div>
        </div>
    </div>
    </div>


</div>
<dmc-popup [infoTitle]=title  [common] =commonJson> </dmc-popup>
    <footer-component> </footer-component>
    </div>