<div class="main-container blue-bg">
<div class=" listing-container">
       <div class="loading-div">
        <div class="loader"></div>
    </div>
      <div class="topnav-row">
        <div [routerLink]="['/landing']" class="listing-logo"></div>
        <h1 class="listing-head">Resources</h1>
    </div>
    <div class="topnav-hr-rule"></div>
    <div class="topnav-container">
        <a [routerLink]="['/landing']" class="topnav">Math Activity Center</a><div class="breadcrumb-arrow"></div>
         <a  class="disable-hover">Resources</a>
    </div>
   
    <div class="tile-container">
        <div class="hover" *ngFor="let item of jsonobject; let i = index" [class.tile]="item.sort_id =='true'" [class.tile-disable]="item.sort_id !='true'"
            (click)="tileClickEvent($event,item.component)">
            <p>{{item.display_title}}</p><i *ngIf="item.sort_id !='true'" class="coming-soon">Coming Soon</i>
        </div>
    </div>
    
</div>
<footer-component> </footer-component>
</div>