<div class="main-container blue-bg" >
<div class="listing-container">
     
        <header-component [pageTitle]=title [background]=backgroundColor (showMoreInfo)="commonClass.showMoreInfo(gameBoardsMoreInfo,gamesMoreInfo)"></header-component>
  
  <div class="student-container student-units-container display-none">
        <div class="unit-container">
            <div #tile class="game-tile block-tile " [ngStyle]="{'background-color': tileBorderColor }" *ngFor="let contentList of filter.games; let i = index" id="{{'tile'+i}}" (click)="tileClickEventStudent($event,contentList.relative_url,'games')" (mousedown)="clickActive($event,tile.id)" (mouseout)="clickInactive($event,tile.id)" (mouseup)="clickInactive($event,tile.id)" (touchstart)="clickActive($event,tile.id)" (touchend)="clickInactive($event,tile.id)">
                <div class="unit-tile-wrapper games-unit-tile-wrapper" [ngStyle]="{'background-color': tile_Color }">
                    <div class="thumbnail-img" [ngStyle]="{'background': 'url('+ path + '/assets/images/thumbnails/'+ thumbnailsImages[i] + ') no-repeat center'}"></div>
                    
                    
                    <label id="unit-text" class="unit-title font-white font-bold">{{contentList.display_title}}</label>
                </div>
            </div>
            </div>
        </div>
  
  <div class="teacher-container display-none">
   
            <div class="topnav-container">
                    <div class="count-items">{{itemsGames}} {{items_text}}</div>    
                </div>
    
    
 
    <div class="listing-container" style="margin-top:40px;">
        <div class="filters-container">
             
             <filterby  [landingJson]= landingJson (resetFilter)="resetFilters($event)"  ></filterby>
           
       <div class=" filter-components-Text " ><div>{{type_text}}</div></div>
            <form class="checkbox-filter">
                <div class="checkbox-filter-row"><div #checkBox1 type="checkbox" id ="gamescheckbox" class="checkboxGroupElem" value="Practice" (click)="checkBoxEvent($event)" data-dpo ="checkbox"></div><div class="checkbox-filter-text" >{{games_text}}</div></div>
                <div class="checkbox-filter-row"><div #checkBox2 type="checkbox" id ="gameboards" class="checkboxGroupElem" value="Reteach" (click)="checkBoxEvent($event)" data-dpo ="checkbox"></div><div class="checkbox-filter-text" >{{gameboards_text}}</div></div>
            </form>
            <div class="filter-component-Text" ><div>{{edition_text}}</div></div>
             <div (click)="openCorrelationChart($event)" class="standards correlation-chart">{{lesson_corelation_text}}</div>
                    <div (click)="openCorrelationChart($event)" class="search-standards-arrow search-standards standards-div"></div>
                     <div (click)="openGamesChart($event)" class="standards correlation-chart">{{user_guide_text}}</div>
                    <div (click)="openGamesChart($event)" class="search-standards-arrow search-standards standards-div"></div>
                 
        </div>
        <div class="wide-tiles-container wide-tile-games-container">
                    <wide-tile  [enable-breadcrumb] = "'false'" [showResources]="'false'" [dataStyle] ="'row'" [tileType] = "'Page'" [blackLineColor] = blackLineColor  [filter] = filter.games [borderColor] = tileColor (wideTileClick)="tileClickEvent($event)" ></wide-tile>
  </div>
  </div>
     
    </div>
    
     <div id="modal" class="modal display-none">
        <div class="inner_div">
            <div style='height:26px;background:#999'></div>
            <iframe id="content" scrolling="no" style="-webkit-overflow-scrolling:touch;"src="about:blank"></iframe>
                    <div class="close" (click)="close()"></div>
            </div>
        </div>
    </div>
    
      
                  
           
          

  <div id="correlationChartPupup" class="correlation_chart_popup display-none">        
        <div class="correlation_chart_div">
            <div class="chart-header"> 
                <div class="print-hmh-logo print-math-expression-logo"></div>
                <div class="print-hmh-logo float-right"></div>
            </div>            
            <div class="chart-title-wrapper">
                <div class="chart-title">{{corelation_chart_text}}</div>
                
                <div class="close-popup-button set-bottom-border" (click)="closeChart()">
                    <div class="close-popup-text">{{close_text}}</div>
                </div>
                <div class="close-popup-button set-bottom-border print" (click)="printPage()">
                    <div class="close-popup-text">{{print_text}}</div>
                </div>
            </div>
            <div class="game-title display-none">{{additionandsubtraction_text}}</div>
            <div class="table-headings"> 
                 <div class="chart-headings lesson-col">{{lesson_text}}</div>
                 <div class="chart-headings game-title-col" >{{game_title}}</div>
                 <div class="chart-headings level-col">{{level_text}}</div>
                 <div class="chart-headings level-title-col">{{lesson_title_text}}</div>
            </div>
            <div id="corelation-container" >
                <ul class="index-container" style="padding-left:0px;margin-top:0px;">
                    <div class="row-wrapper" *ngFor="let contentList of mainLessonsArray let i = index;" >
                        <li class="lessonrow">                            
                            <div class="lesson-title"> {{lesson_text}} {{ contentList }} </div>
                            <div class="ids print-this-wrapper"  *ngFor="let ids of chartItemsData[contentList].ids let j = index let last = last;" >
                                <div class="ghj game-title-div print-this"  [ngClass]="{'top-padding': j==0}"[attr.lastElement]="last">
                                    {{gameArray[ids]}}
                                </div>
                                <div class="ghj game-level-div print-this"[ngClass]="{'top-padding': j==0}"[attr.lastElement]="last" >
                                Level {{ chartItemsData[contentList].levels[j]}}
                                </div>                                
                                <div class="ghj lesson-title-div print-this"  [ngClass]="{'top-padding': j==0}"[attr.lastElement]="last">
                                    {{ chartItemsData[contentList].titles[j] }}
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
             
        </div>
    </div>
    <footer-component> </footer-component>
    </div>


<dmc-popup [infoTitle]=moreInfoGameBoardsTitle  [moreInfoGamesTitle]=title [common] =commonJson> </dmc-popup>
