<div class="main-container blue-bg teacher-landing-page" ng-app="instantsearch">
    <div class="header-banner ">
        <div class="HMH-Math-Expressions"><span class="text-style-1 hmh-title">{{hmhtitle}}</span><br><span class="expression-title" >{{landingtitle}}</span></div>
        <div class="header-logo" [ngStyle]="{'background-image': 'url('+ path + '/assets/images/'+ teacherlogo + ')'}" ></div>
        <div class="header-dragon display-none " [ngStyle]="{'background': 'url('+ path + '/assets/images/'+ listingval + ') no-repeat center '}" ></div>
    </div>
<!-- <div   class="landing-main   display-none">
       <div class="landing " [ngClass]="{'display-none' : isMobile==false}">  <div class="show_resourcesfor">{{showresources}}</div>
           <div class="landing-arrow-mobile"  (click)="openDropdownMobile()" style="cursor:pointer;z-index:100000000000"></div>
           <ul class="dropdown-menu-mobile display-none">
             <li class="customDropDown landing-unit-dropdown">
        <div class="dropdown landing-dropdown">
            <div class="dropbtn" style="display:table" #dropDown1 id="dropdown1" (click)="toggleDropDown($event,'UnitDropdown',['LessonDropdown'])"><div id="unit-text" class="landing-filter-Text landing-filter" data-dpo="dropdown">{{selectUnitText}}</div><div class="dropdown-arrow dropdown-down-arrow"></div></div>
            <div class="dropdown-content landing-dropdown-content" id="UnitDropdown">
                <div type="" #elem9 class="dDown_content landing-dDown_content "  *ngFor="let unitVal of unitArray ; #index = index"   (click)="unitDropDownEvent($event)"><div class="dropdown-text">{{unitVal}}</div></div>
            </div>
        </div>
    </li>  
     <li class=" customDropDown landing-lesson-dropdown "  >
                <div class=" dropdown landing-dropdown" >
                    <div class=" dropbtn landing-unit-lesson-dropdown disabled-dropdown" style="display:table" #dropDown2 id="dropdown2" (click)="toggleDropDown($event,'LessonDropdown','UnitDropdown')"><div  id="lesson-text" class="landing-filter-Text landing-filter" data-dpo="dropdown"><i>{{selectLessonText}}</i></div><div class="dropdown-arrow dropdown-down-arrow"></div></div>
                    <div class="dropdown-content landing-dropdown-content landing-lesson" id="LessonDropdown">
                      
                    </div>
                </div>
            </li>
                <li>
              <div class = "go-button disable-gobutton"    (click)="tileClickEvent('results')" ></div>
             </li></ul>   
           </div>
           </div>-->
    <ul class="landing " >
    <li class="landing-resources">
          {{showresources}}
        </li>
        
      <li class="customDropDown landing-unit-dropdown">
        <div class="dropdown landing-dropdown">
            <div class="dropbtn" style="display:table" #dropDown1 id="dropdown1" (click)="toggleDropDown($event,'UnitDropdown',['LessonDropdown'])"><div id="unit-text" class="landing-filter-Text landing-filter" data-dpo="dropdown">{{selectUnitText}}</div><div class="dropdown-arrow dropdown-down-arrow"></div></div>
            <div class="dropdown-content landing-dropdown-content" id="UnitDropdown">
                <div type="" #elem9 class="dDown_content landing-dDown_content "  *ngFor="let unitVal of unitArray ; #index = index"   (click)="unitDropDownEvent($event)"><div class="dropdown-text">{{unitVal}}</div></div>
            </div>
        </div>
    </li>            
            <li class=" customDropDown landing-lesson-dropdown "  >
                <div class=" dropdown landing-dropdown" >
                    <div class=" dropbtn landing-unit-lesson-dropdown disabled-dropdown" style="display:table" #dropDown2 id="dropdown2" (click)="toggleDropDown($event,'LessonDropdown','UnitDropdown')"><div  id="lesson-text" class="landing-filter-Text landing-filter" data-dpo="dropdown"><i>{{selectLessonText}}</i></div><div class="dropdown-arrow dropdown-down-arrow"></div></div>
                    <div class="dropdown-content landing-dropdown-content landing-lesson" id="LessonDropdown">
                      
                    </div>
                </div>
            </li>
            <li>
              <div class = "go-button disable-gobutton"    (click)="tileClickEvent('results')" ></div>
             </li>       
            </ul>

    <div class="student-tiles-container display-none " id="elem_student">
        <div  class="tile hover tile-spacing-student" *ngFor="let tiles of landingTiles;" [ngStyle]="{'background-color': tiles.landing_tile_border_color}"  [ngClass]="{'disabled' : tiles.enable !=true ,'display-none' :tiles.remove=='yes'}" (click)="tileClickEvent(tiles.routeKey)" (mousedown)="clickActive($event)" (mouseout)="clickInactive($event)" (mouseup)="clickInactive($event)">
            <div class="student-primary" [ngStyle]="{'background-color': tiles.color}">
            <p>{{ tiles.title }}
                 <i *ngIf="tiles.enable != true" class="coming-soon disabled">{{comingSoonText}}</i>
            </p> 
            </div>                    
        </div>
    </div>

    <div class="teacher-tiles-container display-none" id="elem_teacher">
        <div  class="tile  tile-spacing landing-tiles" *ngFor="let tiles of landingTiles;" [ngStyle]="{'border-left': '20px solid #fff','border-color':tiles.color}"  [ngClass]="{'disabled' : tiles.enable ==false,'display-none' :tiles.remove=='yes'}" (click)="tileClickEvent(tiles.routeKey)" (mousedown)="clickActive($event)" (mouseout)="clickInactive($event)" (mouseup)="clickInactive($event)">
            <div class="para">
                <div class="parachild">
                {{ tiles.title }}
                 <i *ngIf="tiles.enable != true" class="coming-soon disabled">{{comingSoonText}}</i>
                 </div>
            </div>                    
        </div>
        
    </div> 
    <div class="header-dragon-student display-none " [ngStyle]="{'background': 'url('+ path + '/assets/images/'+ listingval + ') no-repeat center '}" ></div>
     <footer-component > </footer-component>
<div id="popup" class="popup display-none">        
</div> 
<div class="popup-div display-none"> 
    <div class="popup-message"></div>           
    <div class="close-popup-button set-bottom-border" (click)="commonClass.closePopup()">
        <div class="close-popup-text">Ok</div>
    </div>
</div>

<div class="popup-mobile display-none">
<div id="moreInfo" (click)="commonClass.closePopup()" class="moreInfo-popup"> </div>
<div class="dropdown-popup popup-div "> 
    <div class="unit-text-div display-none">{{selectUnitText}}</div>
    <div class="lesson-text-div display-none">{{selectLessonText}}</div>
    <div class="dropdown-content-mobile-unit  display-none">
     <div type="" #elem9 class="dDown_content landing-dDown_content dropdown-popup-content"  *ngFor="let unitVal of unitArray ; #index = index"   (click)="unitDropDownEvent($event)"><div class="dropdown-text">{{unitVal}}</div></div>    
    </div>
     <div class="dropdown-content-mobile-lesson display-none">
         
    </div>
    </div>
</div>
</div>
     
    <div class="tiles-container display-none">
        <div class="wide-tiles-container">
            <div *ngFor="let game of filtered; let i = index" class="wide-tile " (click)="wideTileClicked($event,game.HMH_ID)" (mousedown)="clickActive($event)" (mouseout)="clickInactive($event)"(mouseup)="clickInactive($event)">
                <div class="tile-data">
                <p class="grade-row">Grade 2 </p><span class="tile-arrows"> </span><p class="grade-row units">Unit {{game.unit}} </p> <span class="tile-arrows units"> </span><p class="grade-row">{{game.lesson}}</p>
                <p class="disp-title-row">{{game.display_title}}</p>
                <p class="disp-title-desc-row">{{game.description}}</p>
            </div>
        </div>
    </div>

   
</div>
