<div class="main-container blue-bg">
<div class="listing-container">

  <header-component [pageTitle]=title [background]=backgroundColor (showMoreInfo)="commonClass.showMoreInfo(moreInfo)"></header-component>  
  <div class="teacher-container display-none ">
      <div class="topnav-container">
      
        <div class="count-items">{{itemCount}} {{items_text}}</div>           
    </div>
     <wide-tile [dataStyle] = "'column'" [filterRight] =filter.mathreaderright [filterLeft]=filter.mathreaderleft [borderColor] = tileColor (wideTileClick)="tileClickEvent($event)" ></wide-tile>
   </div>
    <div class="student-container student-units-container display-none">     
      <div class="unit-container">
        <div #tile class="mathReaders-tile block-tile" [ngStyle]="{'background-color': tileBorderColor }" *ngFor="let contentList of filter.mathreader; let i = index" id="{{'tile'+i}}" (click)="tileClickEventStudent($event,contentList.relative_url)" (mousedown)="clickActive($event,tile.id)" (mouseout)="clickInactive($event,tile.id)" (mouseup)="clickInactive($event,tile.id)" (touchstart)="clickActive($event,tile.id)" (touchend)="clickInactive($event,tile.id)">
          <div class="unit-tile-wrapper mathReaders-unit-tile-wrapper" [ngStyle]="{'background-color': tile_Color }">            
                <div class="thumbnail-img" [ngStyle]="{'background': 'url('+ path + '/assets/images/thumbnails/'+ thumbnailsImages[i] + ')center', 'background-repeat': 'no-repeat', 'background-size':'contain'}">
                </div>
                <div style="display:table" class="unit-block">
                    <div class="mathreader-unit-text"> 
                        <p  class="unit-title mathreader-unit-title">{{unit_text}}</p> 
                    </div>
                    <div id="unit-values" class="mathreadr-unit-counter font-unitvalue">
                        {{i+1}}
                    </div>
                </div>
            </div>
            </div>
      </div>
       <footer-component [ngClass]="{'display-none' : isMobile==false}" > </footer-component>     
    </div>
            
       
   </div>
   <dmc-popup [infoTitle]=title [common] =commonJson > </dmc-popup>
    <footer-component [ngClass]="{'display-none' :   isMobile==true}"> </footer-component>
</div>
