<div class="main-container blue-bg">
<div class="listing-container">

  <header-component [pageTitle]=title [background]=backgroundColor (showMoreInfo)="commonClass.showMoreInfo(moreInfo)"></header-component>  
  <div class="teacher-container display-none ">
      <div class="topnav-container">
      
        <div class="count-items">{{itemCount}} {{items_text}}</div>           
    </div>
    
      <wide-tile [dataStyle] = "'column'" [filterRight] =filter.indepthTasksright [filterLeft]=filter.indepthTasksleft [borderColor] = tileColor [blackLineColor] = blackLineColor (wideTileClick)="tileClickEvent($event)" ></wide-tile>

   </div>
   
            
   </div>
   <dmc-popup [infoTitle]=title [common] =commonJson > </dmc-popup>
    <footer-component> </footer-component>
</div>
