<div class="main-container blue-bg activity-cards">
<div class="challenge listing-container">     
      <header-component [pageTitle]=title [background]=backgroundColor (showMoreInfo)="commonClass.showMoreInfo(moreInfo)"></header-component>
 <div class="teacher-container">
   
      <div class="topnav-container content-count-container ">
        <div class="pagination prev disabled" (click)="changePage($event,'prev','content')">< {{previous_text}}</div>  
        <div class="count-items">{{startCount}} - {{totalCount}} of  {{itemsChallenge}} {{items_text}}</div>   
        <div class="pagination next" (click)="changePage($event,'next','content')">{{next_text}} ></div>              
    </div>
    
     <div class="topnav-container standards-count-container display-none">
        <div class="pagination prev-standards disabled" (click)="standardsChangePage($event,'prev','standards')">< {{previous_text}}</div>         
        <div class="count-items">{{ standardsStartCount }} - {{ standardsEndCount }} of  {{ standardsTotalCount }}  {{items_text}}</div>   
        <div class="pagination next-standards" (click)="standardsChangePage($event,'next','standards')">{{next_text}} ></div>              
     </div>
    
 
    <div class="listing-container">
                    <div class="filters-container">
        
           <filterby [dataStyle] ="'standards'" [showResources] ="'true'" [landingJson]= landingJson (resetFilter)="resetFilters($event)"  (resetStandardFilter)="resetStandardsFilters($event)" (changeFilterModes)="changeFilterMode($event)"></filterby>
              
           <div class="customDropDown filter-dropdown">
                <div class="dropdown">
                     <div class="dropbtn filter-drps" id="dropdown1" #dropDown1 (click)="toggleDropDown($event,'UnitDropdown',['LessonDropdown','BigIdeaDropdown'])"><div id="unit-text-dropdown" class="filter-Text" data-dpo="dropdown">{{select_unit_text}}</div><div class="dropdown-arrow dropdown-down-arrow"></div></div>
                    <div class="dropdown-content drpdwn-filter-content unit-filter-dropdown" id="UnitDropdown">
                        <div type="" #elem9 class="dDown_content unit-filter-dDown_content hover"  *ngFor="let unitVal of units ; #index = index"   (click)="unitDropDownEvent($event)"><div class="dropdown-text">{{unitVal}}</div></div>
                    </div>
                </div>
            </div>
             <div class="customDropDown filter-dropdown">
                <div class="dropdown">
                    <div class="dropbtn filter-drps  bigidea-filter-dropdown disabled-dropdown" id="dropdown3" #dropDown3 (click)="toggleDropDown($event,'BigIdeaDropdown',['UnitDropdown','LessonDropdown'])"><div id="bigIdea-text" class="filter-Text" data-dpo="dropdown" >{{select_bigidea_text}}</div><div class="dropdown-arrow dropdown-down-arrow"></div></div>
                    <div class="dropdown-content drpdwn-filter-content bigidea-filter-dDown_content" id="BigIdeaDropdown" (click)='bigIdeaDropDownEvent($event)'>
                      <!--  <div type="" #elem9 class="dDown_content hover" ><div class="dropdown-text"></div></div>-->
                    </div>
                </div>
            </div>
            
                   
            <div class="standard-wrapper display-none" >
                <div class="filter-component-Text standards-div" ><div>{{standards_text}}</div>  </div>
                    <div (click)="openStandards($event)" class="standards standards-div">{{select_new_standards}}
</div>
                    <div (click)="openStandards($event)" class="search-standards-arrow search-standards standards-div"></div>
                
                    <div *ngFor="let searchList of searchList;let i =index" >
                        <div class="search-list-standards" id="standards-list-{{i}}" data-dpo="list">{{searchList}}<div class="search-list-arrow search-list" (click)="removeFilters(i)" ></div></div>
                    </div>
            </div>
            
                        
                 <div class="filter-component-Text" ><div>{{level_text}}</div></div>
            <form class="checkbox-filter content-container">
                <div class="checkbox-filter-row"><div #checkBox1 type="checkbox" id ="intervention" data-dpo="checkbox" class="checkboxGroupElem" value="Intervention" (click)="checkBoxEvent($event)"></div><div class="checkbox-filter-text">{{intervention_text}}</div></div>
                <div class="checkbox-filter-row"><div #checkBox2 type="checkbox" id ="onLevel" data-dpo="checkbox" class="checkboxGroupElem" value="Onlevel" (click)="checkBoxEvent($event)"></div><div class="checkbox-filter-text">{{onlevel_text}}</div></div>
                <div class="checkbox-filter-row"><div #checkBox3 type="checkbox" id ="challenge" data-dpo="checkbox" class="checkboxGroupElem" value="Challenge" (click)="checkBoxEvent($event)"></div><div class="checkbox-filter-text">{{challenge_text}}</div></div>
            </form>

              
            
        </div>
        <div id="standards" class="wide-tiles-container wide-tile-games-container standards-container display-none">
    <div class="results-not-found display-none">{{results_not_found}}</div>
    <wide-tile [enableBreadcrumbUnit] = "'yes'" [enableBreadcrumbLesson] = "'no'" [enableBreadcrumbBigIdea] = "'yes'" [dataStyle] ="'row'" [tileType] = "'standardsPage'" [filter] = filter.standards [borderColor] = tileColor [searchList] = searchList (wideTileClick)="tileClickEvent($event)"></wide-tile>
</div>
<div class="wide-tiles-container wide-tile-games-container content-container">
    <wide-tile  [enableBreadcrumbUnit] = "'yes'" [enableBreadcrumbLesson] = "'no'" [enableBreadcrumbBigIdea] = "'yes'" [enable-breadcrumb] = "'true'" [showResources]="'false'" [dataStyle] ="'row'" [tileType] = "'Page'" [filter] = filter.activity [borderColor] = tileColor (wideTileClick)="tileClickEvent($event)" ></wide-tile>
</div>
 
    </div>
        
        

    </div>

    <footer-component> </footer-component>
</div>
 <dmc-popup [dataStyle] ="'standards'"  [infoTitle]=title [stdJson]=standardsJson (removeselectStandardsList)="selectStandards($event)" (hideStandardsPoup)="hideStandardes()" (removeSelectionStandards)="removeSelection($event)" (showResultStandards)="showResult()"  [filterStdItem]=filterStdArray [stdCategory] =standardCategory  [common] =commonJson  [dataStandards] =standardsData> </dmc-popup>
