 <header role="contentinfo" class="header">               
        <div  class="topnav-row" [style.background-color]="background">
         <div  [routerLink]="['/landing']" [queryParams]="{}" class="listing-logo"></div>
        <div class="student-topnav-container">
            <a class="topnav student-heading lessonTitle floatleft headerFont" display=false (click)="titleClick($event)">{{lessonTitle}}</a>
            <!--<div class="breadcrumb-arrow first" display=false></div>-->
            <div class="breadcrumb-unit-container">
                <a class="topnav student-heading unitTitle floatleft headerFont" display=false (click)="unitClick($event)">{{unitTitle}}</a>
                <div class="breadcrumb-arrow second headerFont" display = false></div>
                <div class="pageCurrTitle floatleft student-heading headerFont" display=false>{{pageTitle}}</div>
            </div>
           <!--<a class="disable-hover">{{pageTitle}}</a>-->
        </div>
        <h1 class="listing-head  pageTitle">{{pageTitle}}</h1>
        <div class="more-info-wrapper display-none" (click)="moreInfoClick($event)"><div class="more-info">{{more_info_text}}</div></div>
        <div class="topnav-hr-rule"></div>
    </div>
    <div class="topnav-container display-none">
        <a [routerLink]="['/landing']" [queryParams]="{}" class="topnav">{{math_activity_center}}</a>
        <div class="breadcrumb-arrow"></div>
        <a class="disable-hover">{{pageTitle}}</a>
    </div>
</header>