<div class="main-container blue-bg rti">
<div class="listing-container">
   
  <header-component [pageTitle]=title (showMoreInfo)="commonClass.showMoreInfo(moreInfo)"></header-component>       
  
  <div class="student-container display-none">
      </div>
  
  <div class="teacher-container display-none">
     <div class="topnav-container ">
      <div class="pagination prev disabled" (click)="changePage($event,'prev')"> < {{previous_text}} </div>  
       <div class="count-items">{{startCount}} - {{totalCount}} of {{itemCount}} {{items_text}} </div>   
        <div class="pagination next" (click)="changePage($event,'next')">{{next_text}} ></div>              
    </div>
    <div class="listing-container">
     <div class="filters-container">
         
             <filterby [showResources] ="'true'"   [landingJson]= landingJson (resetFilter)="resetFilters($event)"  ></filterby>

           
           <div class="customDropDown filter-dropdown">
                <div class="dropdown">
                    <div class="dropbtn filter-drps" id="dropdown1" #dropDown1 (click)="toggleDropDown($event,'UnitDropdown','LessonDropdown')"><div id="unit-text-dropdown" class="filter-Text" data-dpo="dropdown">{{select_unit_text}}</div><div class="dropdown-arrow dropdown-down-arrow"></div></div>
                    <div class="dropdown-content drpdwn-filter-content unit-filter-dropdown" id="UnitDropdown">
                        <div type="" #elem9 class="dDown_content unit-filter-dDown_content "   *ngFor="let unitVal of units ; #index = index"    (click)="unitDropDownEvent($event)"><div class="dropdown-text">{{unitVal}}</div></div>
                    </div>
                </div>
            </div>
            <div class=" customDropDown filter-dropdown" >
                <div class="dropdown">
                    <div class="dropbtn filter-drps lesson-filter-dropdown disabled-dropdown" id="dropdown2" #dropDown2 (click)="toggleDropDown($event,'LessonDropdown','UnitDropdown')"><div  id="lesson-text" class="filter-Text" data-dpo="dropdown">{{select_bigidea_text}}</div><div class="dropdown-arrow dropdown-down-arrow"></div></div>
                    <div class="dropdown-content drpdwn-filter-content lesson-filter-dDown_content" id="LessonDropdown" (click)="lessonDropDownEvent($event)">
                       <!-- <div type="" #elem1 class="dDown_content hover"  *ngFor="let iprc of displayTitleArr"  (click)="lessonDropDownEvent($event)"><div class="dropdown-text">{{iprc}}</div></div>-->
                    </div>
                </div>
                </div>
                 <div class="filter-component-Text" ><div>Level</div></div>
            <form class="checkbox-filter">
                <div class="checkbox-filter-row"><div #checkBox1 type="checkbox" id ="tier1" data-dpo="checkbox" class="checkboxGroupElem" value="tier1" (click)="checkBoxEvent($event,'tier1')"></div><div class="checkbox-filter-text">{{tier1_text}}</div></div>
                <div class="checkbox-filter-row"><div #checkBox2 type="checkbox" id ="tier2" data-dpo="checkbox" class="checkboxGroupElem" value="tier2" (click)="checkBoxEvent($event,'tier2')"></div><div class="checkbox-filter-text">{{tier2_text}}</div></div>
                <div class="checkbox-filter-row "   ><div #checkBox2 type="checkbox" id ="tier3" data-dpo="checkbox" class="checkboxGroupElem" value="tier3" (click)="checkBoxEvent($event,'tier3')"></div><div class="checkbox-filter-text">{{tier3_text}}</div></div>
            </form>
              <div class="filter-component-Text" ><div>{{edition_text}}</div></div>
                <div (click)="openRtiUserGuide($event)" class="standards correlation-chart">{{rti_user_guides}}</div>
                <div (click)="openRtiUserGuide($event)" class="search-standards-arrow search-standards standards-div"></div>
            </div>
            
              
           
        
       
        
        
        
        <div class="wide-tiles-container wide-tile-games-container content-container">
            <wide-tile [enableBreadcrumbUnit] = "'yes'" [enableBreadcrumbLesson] = "'no'" [enableBreadcrumbBigIdea] = "'yes'" [showResources]="'true'"  [dataStyle] ="'row'" [tileType] = "'Page'" [filter] = filter.rti [borderColor] = tileColor (wideTileClick)="tileClickEvent($event)" ></wide-tile>
    </div>
 
    </div>
    
  </div>
        


    <footer-component> </footer-component>
</div>
<dmc-popup [infoTitle]=title  [common] =commonJson> </dmc-popup>
