 <footer role="contentinfo" class="footer">               
         <ul>
                <li class=" logo-container"><a href="https://www.hmhco.com/" target="_blank" class="hmh-logo"></a> </li>
                <li class="vertical-line"></li>
                <li class="copyright-text" >&copy; Houghton Mifflin Harcourt. All rights reserved.</li>
                <li class="termsof-use border-right"><a href="http://www.hmhco.com/common/k-12-learning-platforms-terms-of-use" target="_blank">Terms of Use</a></li>
                <li class="privacypolicy border-right"><span><a href="http://hmhco.com/common/privacy-policy-for-k-12-learning-platforms" target="_blank">Privacy Policy</a></span></li>
                <li class="contactus border-right"><span><a href="http://customercare.hmhco.com/contactus/contact_us.html" target="_blank">Contact Us</a></span></li>
                <li class="technicalsupport border-right">
                    <span>
                        <a href="http://customercare.hmhco.com/product/techsupport/CCTechSupportSearchResults.html?id=1294821151" target="_blank">Technical Support</a>
                    </span>
                </li>
                <li class="corporatesite" style="padding-left:10px;"><span><a href="https://www.hmhco.com" target="_blank">Corporate Site</a></span></li>
            </ul>              
  </footer>       