<div id="popup" class="popup display-none" style="z-index:9995;" (click)="commonClass.closePopup()"></div> 
<div class="popup-div display-none" style="z-index:99999;">     
    <div class="popup-message"></div>           
    <div class="close-popup-button set-bottom-border" (click)="commonClass.closePopup()">
        <div class="close-popup-text">Ok</div>
    </div>
</div>


<div id="moreInfo" class="moreInfo-popup display-none" (click)="commonClass.closePopup()">        
</div> 
<div class="moreInfo-popup-div display-none"> 
    <div class="moreInfo-popup-message-wrapper">
        <div class="moreInfoTitle">{{infoTitle}}</div>
        <div class="moreInfo-popup-message"></div>  
          <div class="moreInfoTitle games">{{ moreInfoGamesTitle}}</div>
        <div class="moreInfo-popup-games"></div>
    </div>          
    <div class="moreInfo-close-popup-button set-bottom-border" (click)="commonClass.closePopup()">
        <div class="close-popup-text">Ok</div>
    </div>
</div>


 <div class="standards_popup display-none" *ngIf="dataStyle =='standards'" >
        <div class="standards_div">           
                <div class="rectangle-10">
                    <div class="rectWrapper" *ngIf="filterStdItem.length == 0">
                            <div class="Select-Standards">Select Standards</div>
                            <div class="Click-or-tap-as-many">Click or tap as many as five Standards</div>
                            <div class="Cancel" (click)="hideStandards()">Cancel</div>
                            <div class="Apply apply-button " (click)="showResult()">Apply</div>
                    </div>
                    <div class="rectWrapper filtersWrapper " *ngIf="filterStdItem.length >0">
                        <div class="filterBox">
                        <div *ngFor="let filters of filterStdItem; let i = index">
                           <div #filter class="filters" style="cursor:pointer" (click)="removeSelection(filter.id)"  id="{{filters}}">{{filters}} <div class="search-list-arrow search-list" (click)="removeSelection(filter.id)" ></div></div>
                             
                        </div>
                        </div>
                            <div class="Cancel" (click)="hideStandards()">Cancel</div>
                            <div class="Apply apply-button" (click)="showResult()">Apply</div>
                    </div>
                </div>
                <div id="standards-main-container" class="standards_data">
                <div *ngFor="let popupList of stdCategory; let i = index" [attr.id]="'standards_' + i">
                    <div class="standards-heading">
                        <div class="standards-heading-text">{{common[popupList]}}</div>
                    </div>
                    <div *ngFor="let standList of dataStandards[popupList].standards; let i = index" [attr.id]="'standards_' + i">
                        <div class="standards-content {{standList.classactive}}" (click)="selectStandards(standList)"  id="id_{{standList}}">
                            <div class="qa-id"> {{ standList }}</div>
                            <div class="text"> {{stdJson[standList].desc }}</div>
                        </div>
                    </div>               
                </div>
                </div>
        </div>
    </div>